<!DOCTYPE html>
<html>
	<head>
		<title>Hubspot Snapshot</title>
		<script>var Components = {};</script>
		<script src="./mithril.min.js"></script>
		<script src="./mithril.stream.min.js"></script>
		<script src="./helpers.js"></script>
		<script src="./deals.js"></script>
		<script src="./deals.view.js"></script>
		<script src="./sidebar.view.js"></script>
		<script src="./main.js"></script>
		<link rel="stylesheet" href="main.css" />
	</head>
	<body>		
		<div id="snapshot"></div>
	</body>
</html>
