<!DOCTYPE html>
<html>
	<head>
		<title>Hubspot Snapshot</title>
		<script>var Components = {};</script>
		<script src="./mithril.min.js"></script>
		<script src="./mithril.stream.min.js"></script>
		<script src="./helpers.js"></script>
		<script src="./deals.js"></script>
		<script src="./deals.view.js"></script>
		<script src="./sidebar.view.js"></script>
		<script src="./main.js"></script>
		<link rel="stylesheet" href="main.css" />
	</head>
	<body>
		<div id="snapshot">
			<div class="wrap">
				<div class="sidebar">
					<h1>Hubspot Deals</h1>
					<p>Click to select / de-select the deal properties you want to load from Hubspot.</p>
					<div id="properties"></div>
				</div>
				<div class="body" id="data"></div>
			</div>
		</div>
	</body>
</html>
