* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	text-decoration: inherit;
	line-height: inherit;
	color: inherit;
	background-color:transparent;
	box-sizing:border-box;
}
*:focus{
	outline:none;
}
html, body{
	font-family: "Nunito Sans", "Helvetica Neue", "Helvetica", sans-serif;
	font-size:14px;
	line-height:22px;
	color:#000;
	background-color:#fff;
}
body{
	min-width:100%;
	margin:0 auto;
}
div{
	position:relative;
}
h1{
	color: #14264a;
	font-size:24px;
	line-height:36px;
	font-family:"Roboto Slab", Palatino, serif;
	font-weight:bold;
}
a{
	cursor:pointer;
	text-decoration:underline;
	color:blue;
}
p{
	display:block;
	text-align:justify;
}
h1,h2,h3,h4,h5,h6,
p, label, button, select, .select{
	margin-bottom:10px;
}
.instructions{
	font-style:italic;
	border-left:1px solid #ccc;
	padding-left:10px;
}
label{
	cursor:pointer;
}
select{
	height:200px;
	width:100%;
	padding:0 10px;
	resize:vertical;
}
input, select{
	display:block;
	background-color:#fff;
}
input{
	padding:5px 10px;
}
input[type=checkbox]{
	position:absolute;
	top:0;
	left:0;
	opacity:0.01;
	width:1px;
	height:1px;
	overflow:hidden;
}
input[type=checkbox]+span{
	display:block;
	text-align:center;
	background-color:#fff;
	height:22px;
	width:22px;
	border:1px solid #ccc;
}
input[type=checkbox]+span:after{
	content:'\2713';
}
input[type=checkbox]:checked+span{
	border-width:2px 0 0 2px;
}
input[type=checkbox]:not(:checked)+span{
	border-width:0 2px 2px 0;
}
input[type=checkbox]:checked+span:after{
	color:#000;
}
input[type=checkbox]:not(:checked)+span:after{
	color:#ccc;
}
button{
	display:block;
	width:100%;
	cursor:pointer;
	padding:0 30px;
	line-height:30px;
	border-radius:15px;
	background-color:#14264a;
	color:#fff;
}
button:hover{
	background-color:#00f;
}

.wrap > .sidebar{
	z-index:2;
	position:fixed;
	width:300px;
	top:0;
	left:0;
	padding:10px;
	height:100vh;
	background-color:#eee;
	overflow-y:scroll;
	direction:rtl;
}
.wrap > .sidebar > *{
	direction:ltr;
}
.wrap > .body{
	z-index:1;
	padding-left:310px;
	min-width:100vw;
	min-height:100vh;
}

table{
	border-spacing:0;
	border-collapse:collapse;
	width:100%;
}
th{
	font-family:'Roboto Slab', serif;
	font-weight:bold;
}
td, th{
	text-align:left;
	vertical-align:top;
	border-bottom:1px solid #eee;
	padding:2px 4px;
}

.select{
	max-height:150px;
	min-height:18px;
	width:100%;
	overflow-y:scroll;
	background-color:#fff;
}
.select td{
	font-size:14px;
	line-height:18px;
	border:0;
	padding:0 10px;
}
.select td[disabled]{
	color:#999;
	cursor:default;
}
.select td:not([disabled]):hover{
	background-color:#f6f6f6;
}
[isHidden]{
	display:none;
}
[sortProperty]{
	cursor:pointer;
	text-decoration:underline;
}
[sortProperty]:hover{
	color:#00f;
}
[sortDirection]{
	color:#00f;
}
[sortDirection='desc']:before{
	content:'\2191';
}
[sortDirection='asc']:before{
	content:'\2193';
}
[propertyType='number']{
	text-align:right;
}
